:root {
    /* Global Variables */
    --titleColor: #D2CBA6;
    --mainColor: #FFFFFF;
    --beige: #D2CBA6;
    --moss: #393729;
    --military: #55523D;

    --bgColor: #282828;
    --bgColor2: #3B3A3A;
    --bgColor3: #343333;

    --stroke: #454545;
    --green: #7F9D5A;
    --danger: #D10D0D;
    --mainFont: 'Studio Feixen Variable', sans-serif;
    --roundiness: 18.3px;
}

#booking-page {
    background-color: #282828;
    color: #FFFFFF;
    font-family: var(--font);
}

h2 {
    color: #D2CBA6;
    font-size: 35px;
    font-weight: bold;
}

h4 {
    color: #FFFFFF;
    font-size: 20px;
}

h6 {
    color: #FFFFFF;
    font-size: 18px;
}

label {
    color: #f6f6f6;
    font-size: 18px;
}


p {
    color: #FFFFFF;
    font-size: 18px;
}

.info{
    font-size: 16px;
}

#noteForOwner, #pickupDate {
    background-color: #454545;
    border: none;
    font-size: 16px;
    border-radius: 16px;
    height: 45px;
}

#warehouse-txt {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 100;
}

h3 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}

li {
    color: #FFFFFF;
    font-size: 16px;

}

#top-price {
    color: #D2CBA6;
    font-size: 35px;
    font-weight: bold
}

#bot-price {
    color: #D2CBA6;
    font-size: 40px;
    font-weight: bold
}

/* btn */
.cancel-btn {
    background-color: transparent;
    border: 2px solid #9B9B9B;
    border-radius: 18px;
    color: var(--beige);
    width: 175px;
    height: 51px;
    font-size: 18px;
    font-weight: 500;
}

.cancel-btn:hover{
    background-color: var(--danger);
    border: none;
}

.confirm-btn {
    background-color: var(--beige);
    border: none;
    border-radius: 18px;
    color: #3E3D3D;
    width: 247px;
    height: 51px;
    font-size: 18px;
    font-weight: 700;
}

.confirm-btn:hover{
    background-color: var(--green);
    color: var(--mainColor);
}

.input-box {
    font-size: 16px;
    border-radius: var(--roundiness);
    border: 1px solid var(--stroke);
    color: var(--mainColor);
    background-color: var(--bgColor2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.input-box:focus {
    background-color: var(--bgColor2);
    color: var(--mainColor);
    border-color: var(--stroke);
    outline: none;
}

.input-box::placeholder {
    color: gray;
}

.input-box:focus::placeholder {
    color: gray;
}

.carbon-fprint-modal {
    color: var(--mainColor);
    background-color: var(--bgColor);
    display: flex;
    width: 100%;
}

.carbon-fprint-text {
    text-align: left;
    width: 100%;
}

.carbon-fprint-img {
    width: 30px;
    height: 100%;
}

.carbon-fprint-modal-body {
    color: var(--mainColor);
    background-color: var(--bgColor);
    display: flex;
    justify-content: left;
    width: 100%;
    min-height: 300px;
}

.carbon-fprint-modal-dialog {
    max-width: 700px;
    margin: 0 auto;
}

.emissions-saved {
    min-width: 150px;
    height: 50px;
    background-color: var(--green);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: not-allowed;
    pointer-events: none;
    font-size: 25px;
}

.carbon-fprint-msg {
    line-height: 20px;
}

.carbon-fprint-learn-more {
    color: white;
    text-decoration: none;
}

.carbon-fprint-learn-more:hover {
    color: var(--beige);
}

.carbon-fprint-modal-footer{
    width: 100%;
}

.btn-carbon-fprint-okay{
    background-color: var(--titleColor);
    border-color: var(--titleColor);
    color: var(--bgColor3);
    width: 150px;
}

.btn-carbon-fprint-okay:hover{
    background-color: var(--green);
    border-color: var(--green);
    color: var(--mainColor);
}

.btn-carbon-fprint-okay:focus {
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    color: var(--mainColor) !important;
}