:root{
    /* GLOBAL VARIABLES */
    --borderRadius: 18.3px;
    --btnBg: #929292;
}

.btnContinue {
    background-color: var(--btnBg);
    border-radius: var(--borderRadius);
    width: 427px;
    height: 51px;
    border: none;
    color: white;
}

.btnRegister {
    border-radius: var(--borderRadius);
    height: 51px;
    width: 427px;
    background-color: transparent;
}

a {
    color: black;
}

.img-fluid {
    height: 100vh;
}


