:root {
    /* GLOBAL VARIABLES */
    --borderRadius: 18.3px;
    --btnBg: #929292;
    --rowBg: #343333;
    --font: 'Studio Feixen Variable', sans-serif;
}

:root {
    /* Global Variables */
    --titleColor: #D2CBA6;
    --mainColor: #FFFFFF;
    --beige: #D2CBA6;
    --moss: #393729;
    --military: #55523D;

    --bgColor: #282828;
    --bgColor2: #3B3A3A;
    --bgColor3: #343333;

    --stroke: #454545;
    --green: #7F9D5A;
    --danger: #D10D0D;
    --mainFont: 'Studio Feixen Variable', sans-serif;
    --roundiness: 18.3px;
    --margin: 300px;
}

body {
    font-family: var(--font);
}

.img-fluid {
    height: 100vh;
}

/* register.php css */

#register-page,
.login {
    background-color: rgb(255, 255, 255);
    font-family: var(--font);
}

#register-page h2 {
    font-size: 47px;
    font-weight: bold;
    color: #000000;
}

#register-page .form-control,
.login .form-control {
    font-size: 16px;
    border-radius: 18.3px;
    border: 1px solid #3E3D3D;
    padding: 12px;
    color: #000000;
}

#register-page .btn,
.login .btn {
    font-size: 16px;
    padding: 10px;
    border-radius: 18.3px;
    transition: all 0.3s ease;
}

#register-page .btn-dark,
.login .btn-dark {
    background-color: #282828;
    color: rgb(255, 255, 255);
    border: none;
}

#register-page .btn-dark:hover,
.login .btn-dark:hover {
    background-color: rgb(26, 16, 16);
}

#register-page .btn-outline-dark,
.login .btn-outline-dark {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: transparent;
}

#register-page a.text-decoration-none,
.login a.text-decoration-none {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

#register-page a.text-decoration-none:hover,
.login a.text-decoration-none:hover {
    color: #0056b3;
}

/* Product Detail Page */

.row-product-details {
    background-color: var(--rowBg);
    border-radius: var(--borderRadius);
    border: none;
}

.product-page i{
    font-size: 28px;
    color: #5A5858;
}

#badge-condition {
    background-color: #55523D;
    width: 109px;
    height: 23px;
    color: #C3C1C1;
    font-size: 14px;
    font-weight: 200;
    font-family: var(--font);
}

#badge-tracker {
    background-color: #7F9D5A;
    width: 109px;
    height: 23px;
    font-size: 14px;
    color: #343333;
    font-weight: 200;
    font-family: var(--font);
}

.img-container {
    width: 600px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-fluid-product {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--borderRadius);
}

.button-size {
    width: 149.11px;
    height: 51.23px;
    font-family: var(--font);
    font-weight: bold;
}

.product-page .btn-custom-outline {
    border-radius: 18.3px;
    color: #D2CBA6;
    font-family: var(--font);
    border: 2px solid #D2CBA6;
    background-color: transparent;
}

.product-page .btn-custom-dark {
    border-radius: 18.3px;
    color: #282828;
    font-family: var(--font);
    background-color: #D2CBA6;
    border: none;
}

.price-custom-color {
    font-family: var(--font);
    font-size: 24px;
    color: #D2CBA6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-container .form-control {
    background-color: transparent;
    font-family: var(--font);
    font-size: 16px;
    border: 2px solid #D2CBA6;
    color: #D2CBA6;
    border-radius: 3px;
    width: 60px;
    height: 30px;
}

.quantity-container .btn {
    font-family: var(--font);
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #D2CBA6;
    color: #D2CBA6;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* index.php css */

#homepage,
.product-page {
    background-color: #282828;
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

#carousel-container {
    background-color: #343333;
}

#homepage h5,
#homepage h2,
.product-page h3,
.product-page p {
    color: #FFFFFF;
}

#homepage .custom-card {
    background-color: #343333;
    border-radius: 16px;
}

#homepage .btn {
    width: 421px;
    color: #D2CBA6;
    background-color: #333333;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
}

#homepage .btn:hover {
    background-color: #555555;
    color: #F6F4F2;
}

#homepage .carousel-indicators button {
    background-color: #333333;
}

#homepage .carousel-indicators .active {
    background-color: #555555;
}

#homepage .card-title {
    color: #FFFFFF;
}

#homepage .h2 {
    color: #D2CBA6;
}

#homepage .card-text {
    color: #FFFFFF;
}

#homepage .price {
    color: #D2CBA6;
    font-weight: 600;
}

.container a {
    text-decoration: none;
}

/* Extend Rental Modal css */
.modal-title,
.modal-body,
.modal-footer {
    color: white;
}

.btn-denied {
    border-radius: 18.3px;
    color: #D2CBA6;
    font-family: var(--font);
    border: 2px solid #D2CBA6;
    background-color: transparent;
    width: 100px;
    height: 35px;
    font-size: 16px;
}

.btn-confirmed {
    border-radius: 18.3px;
    width: 120px;
    height: 35px;
    background-color: #D2CBA6;
    border: none;
    font-size: 16px;
    color: #3E3D3D;
}

@media (max-width: 1199.98px){
    .listings .custom-card{
        width: 100%;
    }
}

@media (max-width: 1000px){
    .listings .custom-card{
        width: 80%;
    }
}

@media (max-width: 768px) {
    .listings .custom-card{
        width: 55%;
    }
}

@media (max-width: 735px) {
    .listings .custom-card{
        width: 60%;
    }
}

@media(max-width:568px){
   .listings .custom-card{
        width: 70%;
    }
}